<section class="layout">
  <mat-card class="content-todo-list">
    <mat-card-header class="justify-content-center">
      <div class="row w-100">
        <div class="col-8">
          <h1 class="vivify fadeIn">{{currentDate | date: 'EEEE, d'}}</h1>
        </div>
        <div class="col-4 d-flex justify-content-end actions mat-elevation-z1 vivify popIn">
          <button mat-icon-button color="primary" class="pdf" type="button" [disabled]="list.length === 0"
                  [matTooltip]="list.length === 0 ? '' : 'Descargar PDF'" (click)="exportAsPDF()">
            <fa-icon [icon]="pdfIcon"></fa-icon>
          </button>
          <button mat-icon-button color="primary" class="xlsx" type="button" [disabled]="list.length === 0"
                  [matTooltip]="list.length === 0 ? '' : 'Descargar XLSX'" (click)="exportAsXLSX()">
            <fa-icon [icon]="xlsIcon"></fa-icon>
          </button>
        </div>

        <div class="col-8">
          <h3 class="text-body-tertiary vivify fadeIn">{{currentDate | date: 'MMMM'}}</h3>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <h3 class="text-body-tertiary vivify fadeIn"><strong>{{list.length}}</strong> Tareas</h3>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit();" class="search">
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Nueva tarea" formControlName="name" maxlength="100" #fieldName autofocus/>
            <button mat-mini-fab color="primary" matSuffix class="me-2 vivify popIn" matTooltip="Agregar">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>

    </mat-card-header>
    <mat-card-content>
      <mat-list role="list" *ngIf="list.length > 0" id="pdf-data">
        <ng-container *ngFor="let item of (list | transformTasks); let index = index;">
          <h5 class="list-subtitle">
            <mat-icon class="me-2">calendar_month</mat-icon>
            {{item.groupName === 'Hoy' ? item.groupName : (item.groupName | date : 'MMMM d, y')}}
          </h5>
          <mat-list-item
            role="listitem" [ngClass]="{'task-ended': task.selected}"
            *ngFor="let task of item.tasks;" [matTooltip]="task.selected ? 'Tarea finalizada' : ''">
            <mat-icon
              [ngClass]="{'selected': task.selected}" matListItemIcon (click)="markAsComplete(task)"
              [matTooltip]="!task.selected ? 'Finalizar tarea' : ''">
              {{task.selected ? 'check_circle' : 'circle'}}
            </mat-icon>
            <div matListItemTitle class="d-flex align-items-center">
              <p class="w-75 m-0 text-task text-truncate"
                 [ngClass]="{'text-decoration-line-through text-secondary' : task.selected}">{{task.name}}</p>

              <div class="date-delete-content d-flex align-items-center justify-content-end w-25">
                <mat-icon class="icon-delete ms-3" (click)="deleteTask(task, index)" matTooltip="Eliminar tarea">delete</mat-icon>
              </div>
            </div>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </mat-card-content>
  </mat-card>
</section>
